<footer class="footer">
  <div class="footer-top">
    <div class="footer-section">
      <h4>ABOUT</h4>
      <p>
        Far far away, behind the word mountains, far from the countries.
      </p>
      <div class="social-icons">
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>

    <div class="footer-section">
      <h4>LINKS</h4>
      <ul>
        <li><a href="#">Project</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Blog Posts</a></li>
        <li><a href="#">Industries</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms of Use</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h4>SERVICES</h4>
      <ul>
        <li><a href="#">Customer Services</a></li>
        <li><a href="#">Prompt Delivery</a></li>
        <li><a href="#">Reliable Equipment</a></li>
        <li><a href="#">New Heavy Equipment</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h4>HAVE A QUESTIONS?</h4>
      <ul class="contact-info">
        <!-- <li>
          <i class="fas fa-map-marker-alt"></i>
          203 Fake St. Mountain View, San Francisco, California, USA
        </li>
        <li>
          <i class="fas fa-phone"></i>
          +2 392 3929 210
        </li> -->
        <li>
          <i class="fas fa-paper-plane"></i>
          info@technocrats.in
        </li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <p>
      Copyright ©2025 All rights reserved to Technocrats
      
    </p>
  </div>
</footer>
