<section class="blog-section fade-up">
  <div class="section-header">
    <span class="sub-title">OUR BLOG</span>
    <h2 class="main-title">Latest Blog Updates</h2>
  </div>

  <div class="blog-cards">
    <div class="blog-card" *ngFor="let post of blogPosts">
      <div class="blog-image">
        <img [src]="post.image" [alt]="post.title" />
        <div class="blog-meta">
          <span class="date">
            <i class="fa fa-calendar"></i> {{ post.date }}
          </span>
          <span class="author">
            <i class="fa fa-user"></i> {{ post.author }}
          </span>
          <span class="comments">
            <i class="fa fa-comments"></i> {{ post.comments }}
          </span>
        </div>
      </div>
      <div class="blog-content">
        <h3>{{ post.title }}</h3>
        <button class="read-more">READ MORE</button>
      </div>
    </div>
  </div>
</section>
